{% extends 'base_passageiro.html' %}

{% block title %}
Alterar {{cart.apelido_cart}}
{% endblock title %}

{% block content %}
<div class="div_main">
    <a href="{% url 'cart_detail' cart.id%}">
        <i class="fas fa-long-arrow-alt-left"></i>
        Voltar para as informações do cartão
    </a>
    <p><h2>Alterar dados de {{cart.apelido_cart}}</h2></p>
    <br>
    <hr>
    <form action="{% url 'cart_update_confirma' cart.id %}" method="post">
        {% csrf_token %}
        <b><h3><center>
            Você tem certeza que deseja alterar "{{cart.apelido_cart}}" ?
        </center></h3></b>
        <br>
        <center>
            <button type="submit">Alterar</button>
            <a  href="{% url 'cart_update' cart.id %}"><button type="button" id="btn_secundario">Cancelar</button></a>
        </center>
    </form>
    <h2>Informações do cartão:</h2>
    <div class="div_container">
        <div class="div_subcont">
            <b> Apelido do cartão: </b>
            <br>
            <input type="text" value="{{cart.apelido_cart}}" disabled/>
        </div>
        <div class="div_subcont">
            <b> Número do cartão: </b>
            <br>
            <input type="text" value="{{cart.numero_cart}}" disabled/>
        </div>
        <div class="div_subcont">
            <b> Validade: </b>
            <br>
            <input type="month" value="{{cart.validade_cart}}" disabled/>
        </div>
        <div class="div_subcont">
            <b> CVN: </b>
            <br>
            <input type="text" value="{{cart.cvn_cart}}" disabled/>
        </div>
        <div class="div_subcont">
            <b> Nome do proprietário: </b>
            <br>
            <input type="text" value="{{cart.nome_cart}}" disabled/>
        </div>
    </div>
</div>
{% endblock content %} 