{% extends Ext %}

{% block title %}
Alterar senha
{% endblock title %}

{% block content %}
<div class="div_main">
    <a href="{% url 'perfil' %}">
        <i class="fas fa-long-arrow-alt-left"></i>
        Voltar para meu perfil
    </a>
    <p><h2>Alterar senha</h2></p>
    {% if form.errors %}
    <p>Os dados inseridos são inválidos. Tente novamente.</p>
    {% else %}
    <br>
    {% endif %}
    <hr>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Alterar</button>
        <a  href="{% url 'perfil' %}"><button type="button" id="btn_secundario">Cancelar</button></a>
    </form>
</div>

{% endblock content %} 