{% extends 'base_condutor.html' %}

{% block title %}
Apagar Conta
{% endblock title %}

{% block content %}
<div class="div_main">
    <a href="{% url 'conta_detail' conta.id %}">
        <i class="fas fa-long-arrow-alt-left"></i>
        Voltar para as informações da conta
    </a>

    <center><h2>Apagar Conta</h2>
    <br>
    <form action="{% url 'conta_delete' conta.id %}" method="post">
        {% csrf_token %}
        <b><h3><center>
            Você tem certeza que deseja apagar "{{conta.apelido_conta}}" ?
        </center></h3></b>
        <br>
        <button type="submit">Apagar</button>
        <a  href="{% url 'conta_detail' conta.id %}"><button type="button" id="btn_secundario">Cancelar</button></a>
    </form>
    </center>
</div>
{% endblock content %}