{% extends 'base_condutor.html' %}

{% block title %}
Apagar veículo
{% endblock title %}

{% block content %}
<div class="div_main">
    <a href="{% url 'veic_detail' veic.id %}">
        <i class="fas fa-long-arrow-alt-left"></i>
        Voltar para as informações do veículo
    </a>

    <center><h2>Apagar Veículo</h2>
    <br>
    <form action="{% url 'veic_delete' veic.id %}" method="post">
        {% csrf_token %}
        <b><h3><center>
            Você tem certeza que deseja apagar "{{veic.apelido_veic}}" ?
        </center></h3></b>
        <br>
        <button type="submit">Apagar</button>
        <a  href="{% url 'veic_detail' veic.id %}"><button type="button" id="btn_secundario">Cancelar</button></a>
    </form>
    </center>
</div>
{% endblock content %}